project2.zip
project2/combined/Makefile
project2/mpi/gtmpi.h
project2/mpi/gtmpi1.c
project2/mpi/gtmpi2.c
project2/mpi/harness.c
project2/mpi/Makefile
project2/omp/.Makefile.swp
project2/omp/gtmp.h
project2/omp/gtmp1.c
project2/omp/gtmp2.c
project2/omp/harness.c
project2/omp/harness.o
project2/omp/Makefile
project2/omp/mp1
project2/omp/mp2
project2/omp/omp.pbs
.gitignore
